@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

.brutal-border {
  border: 4px solid black;
}

.brutal-card {
  border: 4px solid black;
  background-color: white;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.brutal-card-hover {
  border: 4px solid black;
  background-color: white;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  transition: all 0.2s;
}

.brutal-card-hover:hover {
  transform: translate(4px, 4px);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
